body {
    padding-bottom: 20px;
    background: url(../Content/Images/background8withoutcolor.jpg) no-repeat center fixed;
    margin-top:70px;
    background-size:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

a:link, a:visited, a:hover, a:focus, a:active {
border: 0;
outline: 0;
}
/*=========== navbar-top =============*/
.navbar-top {
    height: 70px;
    margin-bottom: 0;
    background: #fff;
}

.navbar-nav img{
    height: 69px;
	width: auto;
}

.container .logo li a{
    margin-top: 7px;
    text-decoration: none;
    color:black;
    font-size: 48px;
    font-weight:600;
    font-family: 'Marck Script', cursive;
}

logo-a{
    margin-right: 100px;
}


.navbar-right .nav-link li a{
    font-size: 18px;
    color:black;
    font-family: 'Neucha', cursive;
    font-weight:400;
}

.navbar-right .nav-link li a:hover, a:active{
     text-decoration: underline;
}

/*================ adminca ====================*/
.my-news{
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.15);
    min-height: 500px;
    background-color: #fff;
}

.title{
    color:#fff;
    font-family: 'Lobster', cursive;
    text-shadow: 0px -1px 20px rgba(0, 0, 0, 1);
}

.inside-panel{
    margin:20px 20px;
}

.but-add, .but-add:active, .but-add:focus {
    background-color:#fff!important;
    color: #a5a8aa;
    border-radius: 2px;
    border: 1px solid #a5a8aa!important;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    text-decoration: none;
    position:relative;
    margin-top:1px;
    margin-bottom:5px;
    margin-left:15px;
    outline: 0;
}

.but-add:hover {
    color: #000;
    border: 2px solid #a5a8aa!important;
    margin-bottom:4px;
    margin-top:0px;
    padding-left:11px;
    text-decoration: none;
}

.table-title{
    font-family: 'Vollkorn', serif;
    color: black;
    font-size:18px;
}

.table-content{
     font-family: 'Philosopher', sans-serif;
     font-size:14px;
}

.title-form{
    max-width: 800px!important;
    width:100%;
}

.my-area-short{
    border:1px solid #b7bfc6;
    resize:none;
    height:100px!important;
}

.my-area-full{
    border:1px solid #b7bfc6;
    resize:none;
    height:400px!important;
}