
@using MinskNews.Models;
@model PageListViewModel<News>

@{
    ViewBag.Title = "Новости";
}
<div class="row">
    <div class="col-md-9">
        <div id="List">
            @Html.Partial("_ListPartial", Model)
        </div>
    </div>
    <div class="col-md-3">
        @Html.Action("ThreeNews")
    </div>
</div>



